In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('data/day2.csv')
df[['direction', 'amount']] = df['movement'].str.split(" ",expand=True,)
df['amount'] = df['amount'].astype(int)

df.groupby('direction').sum()

           amount
direction
down         1970
forward      2083
up           1015

In [39]:
(1970-1015) * 2083

1989265

In [40]:
df = df[['direction', 'amount']]
df['aim_increase'] =  np.where(df['direction'] == 'down', 1 * df['amount'], np.where(df['direction'] == 'up', -1 * df['amount'],0))
df['aim'] = df.aim_increase.cumsum()
df['depth'] = np.where(df['direction'] == 'forward', df['aim'] * df['amount'], 0)
df.groupby('direction').sum()

           amount  aim_increase     aim    depth
direction
down         1970          1970  189525        0
forward      2083             0  197263  1002964
up           1015         -1015   91735        0

In [27]:
2083*1002964